include .coveragerc
include LICENSE
include requirements.txt
include .pre-commit-config.yaml
recursive-include dj_audit/templates *.html
recursive-include dj_audit/static *.js *.css
recursive-exclude * *.py[co]
prune .eggs