:root {
    --default-color: #353639;
    --default-text-color: #ffffff;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    width: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: all 0.3s;
    background: var(--default-color);
    color: var(--default-text-color);
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: var(--default-text-color);
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: var(--default-text-color);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

#sidebarCollapse{
    outline: none;
    box-shadow: none;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}
